.content-ManageBox{
    border:1px solid  rgb(232, 232, 232);
    border-radius:2px;
    width:100%;
    
}
.content-ManageBox-header{
    height: 57px;
    border-bottom:1px solid  rgb(232, 232, 232);
   
}
.content-ManageBox-header-title{
    height:56px;
    padding:0 24px;
    line-height: 56px;
    font-size:16px;
}
.content-ManageBox-body{
    padding:24px;
}
.content-ManageBox-body-card{
    height:140px;
    border:1px solid rgb(232, 232, 232);
    margin-bottom:30px;
}
.card-body{
    padding:24px;
}
.card-form-item{
    display:inline-block;
    margin-right:30px;
}
.card-form-item Button{
    padding:0 30px ;
    margin-right:15px;
}
.content-ManageBox-body-list{
    border:1px solid rgb(232, 232, 232);
}